._btn:hover {
  background-color: var(--theme-color-two) !important;
  background: var(--theme-color-two) !important;
  border-color: var(--theme-color-two) !important;
}

._btn:focus {
  color: #fff !important;
}