/* About Banner Styling */
.heading {
    z-index: 14;
    height: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
  
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: left;
  
    letter-spacing: 0px;
    font-weight: 500;
    font-size: var(--banner-heading-font-size);
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    margin-bottom: 1.5rem;
  }
  
  .banner_text {
    padding-right: 10%;
  }
  
  @media screen and (max-width: 767px) {
    .banner_text {
      padding-left: 6%;
    }
  }
  
  @media screen and (max-width: 1150px) and (min-width: 768px) {
    .banner_text {
      padding-left: 6%;
    }
  }
  